* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    background-color:rgb(228, 232, 215)
}
/*nav bar text*/
a {
    color:  rgb(169, 166, 148);
    text-decoration: underline
}

p {
    font-size: 20px;
    position: relative;
    top: 10px;
    color:  #535353;

}
/*header content*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(167, 167, 224);
    font-family: 'Cantarell', sans-serif;
}

header h1 {
    display: inline-block;
    font-size: 40px;
    color:  rgb(94, 88, 88);
    padding-left: 200px;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.flex-container {
    display: flex;
}
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  .footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.hidden {
    display: none;
}